<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/bootstrap-toggle.min.css" );
?>
<script type="text/javascript" src="/snep/includes/javascript/bootstrap-toggle.min.js"></script>

<div class="row">
    <form id="defaultForm" method="post" class="form-horizontal" action="<?php echo $this->url(array("module" => "snep-q-manager", "controller" => "alerts", "action" => "config"), null, false); ?>" METHOD="post">

        <fieldset>
            <legend><?php echo $this->translate("Alerta Visual");?></legend>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Active");?></label>

                <div class="col-sm-5 checkbox">
                    <label>

                        <?php if(isset($this->alert["alerts"]->view->state) == "true"){
                            $checked = 'checked';
                        }else{
                            $checked = '';
                        }

                        ?>
                        <input type="checkbox" data-toggle="toggle" data-size="mini" <?php echo $checked; ?> name= "view_active" >
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Tempo máximo de espera na Fila para emitir alerta");?></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="view_tme" value="<?php echo (isset($this->alert["alerts"]->view->tme)) ? $this->alert["alerts"]->view->tme : ''; ?> " />
                    <p class="help-block"><?php echo $this->translate("In seconds")?></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Número de ligações em espera na Fila para emitir alerta");?></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="view_sla" value="<?php echo (isset($this->alert["alerts"]->view->sla)) ? $this->alert["alerts"]->view->sla : ''; ?> " />
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend><?php echo $this->translate("Alerta Sonoro");?></legend>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Active");?></label>

                <div class="col-sm-5 checkbox">
                    <label>
                        <?php if(isset($this->alert["alerts"]->sound->state) == 'true'){
                            $checked = 'checked';
                        }else{
                            $checked = '';
                        }
                        ?>
                        <input type="checkbox" data-toggle="toggle" data-size="mini" <?php echo $checked ?> name= "sound_active" >
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Tempo máximo de espera na Fila para emitir alerta");?></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="sound_tme" value="<?php echo (isset($this->alert["alerts"]->sound->tme)) ? $this->alert["alerts"]->sound->tme : ''; ?> " />
                    <p class="help-block"><?php echo $this->translate("In seconds")?></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Número de ligações em espera na Fila para emitir alerta");?></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="sound_sla" value="<?php echo (isset($this->alert["alerts"]->sound->sla)) ? $this->alert["alerts"]->sound->sla : ''; ?> " />
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend><?php echo $this->translate("Alerta por Email");?></legend>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Active");?></label>

                <div class="col-sm-5 checkbox">
                    <label>
                        <?php if(isset($this->alert["alerts"]->mail->state) == '1'){
                            $checked = 'checked';
                        }else{
                            $checked = '';
                        }
                        ?>
                        <input type="checkbox" data-toggle="toggle" data-size="mini" <?php echo $checked; ?> name= "mail_active" >
                    </label>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Email");?></label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" name="mail_email"  value="<?php echo (isset($this->alert["alerts"]->mail->destination)) ? $this->alert["alerts"]->mail->destination : ''; ?> " />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Tempo máximo de espera na Fila para emitir alerta");?></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="mail_tme"  value="<?php echo (isset($this->alert["alerts"]->mail->tme)) ? $this->alert["alerts"]->mail->tme : ''; ?> " />
                    <p class="help-block"><?php echo $this->translate("In seconds")?></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-5 control-label"><?php echo $this->translate("Número de ligações em espera na Fila para emitir alerta");?></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="mail_sla" value="<?php echo (isset($this->alert["alerts"]->mail->sla)) ? $this->alert["alerts"]->mail->sla : ''; ?> " />
                </div>
            </div>

        </fieldset>

        <div class="snep-body-footer-buttons">
            <button type="submit" class="btn btn-add" name="signup" value="Sign up"><?php echo $this->translate("Save");?></button>
            &nbsp;&nbsp;&nbsp;
        	<a class="btn btn-outline btn-add" href="javascript:window.history.go(-1)" role="button"><?php echo $this->translate("Cancel")?></a>
        </div>
    </form>
</div>

<script type="text/javascript">

jQuery.noConflict();

jQuery(document).ready(function(){
    jQuery('#defaultForm').validate({
        rules: {
            view_tme: {
                numbersOnly: true,
                minlength: 1,
            },
            view_sla: {
                numbersOnly: true,
                minlength: 1,
            },
            sound_tme: {
                numbersOnly: true,
                minlength: 1,
            },
            sound_sla: {
                numbersOnly: true,
                minlength: 1,
            },
            mail_tme: {
                numbersOnly: true,
                minlength: 1,
            },
            mail_sla: {
                numbersOnly: true,
                minlength: 1,
            },
            mail_email: {
                email: true
            }
        },
        messages: {
            view_tme: {
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>"
            },
            view_sla: {
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>"
            },
            sound_tme: {
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>"
            },
            sound_sla: {
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>"
            },
            mail_tme: {
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>"
            },
            mail_sla: {
                numbersOnly: "<?php echo $this->translate('Numbers only please'); ?>",
                minlength: "<?php echo $this->translate('Please enter at least {0} characters.'); ?>"
            },
            mail_email:{
                email: "<?php echo $this->translate('Your email address must be in the format of name@domain.com'); ?>"
            }
        },
        highlight: function(element) {
            jQuery(element).closest('.control-group').removeClass('success').addClass('error');
        },
        success: function(element) {
            element
            .text('OK!').addClass('valid')
            .closest('.control-group').removeClass('error').addClass('success');
        }
    });
});

</script>

