<?php
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable.core.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/footable-demos.css" );
$this->headLink()->appendStylesheet( $this->baseUrl() . "/css/footable/bootstrap-glyphicons.css" );
?>
<script src="/snep/includes/javascript/footable/footable.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.sort.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.filter.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/footable.paginate.js" type="text/javascript"></script>
<script src="/snep/includes/javascript/footable/bootstrap-tab.js" type="text/javascript"></script>

<div class= "row">
    <div class="tab-content">
        <div class="tab-pane active" id="demo">

            <?php if ($this->error_message) {
                echo $this->action( 'sneperror', 'error', null, array( 'error_type' => 'alert',
                'error_title' => $this->translate('Alert'), 'error_message' => $this->error_message, 'error_buttons' => False) );
            } else { ?>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="snep-body-top-buttons">

                            <div class="snep-body-search">
                                <?php if($this->key){ ?>
                                    <a class="btn sn-dash-add" href="<?php echo $this->baseUrl ?>/default/index/index?dashboard_add=<?php echo $this->key ?>"  title="<?php echo $this->translate('Add to dashboard');?>"></a>
                                    &nbsp;|&nbsp;
                                <?php } ?>
                                <?php echo $this->translate("Search")?> <input id="filter" type="text"/>
                            </div>
                        </div>
                    </div>
                    <?php if(!is_int($this->agents)): ?>

                        <table class="table demo table-hover" data-filter="#filter" data-page-size="<?php echo $this->lineNumber?>">

                            <thead>

                                <tr>
                                    <th class="text-center"><?php echo $this->translate('Queue');?></th>
                                    <th class="text-center" data-sort-ignore="true"><?php echo $this->translate('Alerta Visual');?></th>
                                    <th class="text-center" data-sort-ignore="true"><?php echo $this->translate('Alerta Sonoro');?></th>
                                    <th class="text-center" data-sort-ignore="true"><?php echo $this->translate('Alerta por Email');?></th>
                                    <th class="text-center" data-sort-ignore="true"><?php echo $this->translate('Actions');?></th>
                                </tr>
                            </thead>
                            <tbody>

                                <?php
                                $enabled = '<img src="/snep/images/button_ok.png" align="center" width="22" height="22" title="Habilitado";">';
                                $disabled = '<img src="/snep/images/button_off.png" width="22" height="22" title="Desabilitado";">';

                                foreach($this->queues as $id => $queue ): ?>
                                    <tr>
                                        <td class="text-center"> <?php echo $queue['name']; ?> </td>
                                        <td class="text-center"> <?php echo (!isset($queue['view'])) ? $disabled : $enabled; ?> </td>
                                        <td class="text-center"> <?php echo (!isset($queue['sound'])) ? $disabled : $enabled; ?> </td>
                                        <td class="text-center"> <?php echo (!isset($queue['mail'])) ? $disabled : $enabled; ?> </td>
                                        <td class="text-center">
                                            <a class="btn btn-edit btn-sm" href="<?php echo $this->url ?>/config/name/<?php echo $queue['name'] ?>" role="button"><?php echo $this->translate('Edit')?></a>
                                        </td>
                                    </tr>
                                <?php endforeach ?>
                            </tbody>
                             <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <div class="paging">
                                            <ul class="pagination"></ul>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>

                    <?php endif; ?>
                </div>
            <?php } ?>
            <br>
        </div>
    </div>
</div> <!-- /.row -->

<script type="text/javascript">
    jQuery.noConflict();
    jQuery(function () {
        jQuery('table').footable().on('click', '.row', function(e) {
            e.preventDefault();
        });
    });
</script>

